<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="defaultStatementTimeout" value="3000"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="aggressiveLazyLoading" value="true" />
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />
        <setting name="autoMappingBehavior" value="FULL" />
        <!--如果是BATCH，useGeneratedKeys无效-->
        <!--<setting name="defaultExecutorType" value="BATCH" />-->
        <setting name="defaultStatementTimeout" value="2500" />
        <setting name="logImpl" value="NO_LOGGING" />
        <!-- <setting name="logImpl" value="SLF4J" /> -->
    </settings>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">

            <!--数据库类型-->
            <property name="helperDialect" value="mysql" />
            <property name="autoRuntimeDialect" value="true" />
            <property name="params" value="count=countSql" />
            <property name="supportMethodsArguments" value="true" />
            <property name="reasonable" value="false" />
        </plugin>
    </plugins>
</configuration>